body{
    margin: 0;
    padding: 0;
    background:linear-gradient(to right,rgb(0, 255, 213),rgb(30, 255, 0));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .img{
    width: 300px;
    height: 400px;
} */
.container{
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    color: rgb(72, 16, 94);
    border-radius: 10px;
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background:rgb(144, 106, 180) ;
    transform-style: preserve-3d;
    transform: perspective(2000px) ; 
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
}
.card:hover{
    /* transform: perspective(2000px) rotate(0deg);  */
     box-shadow: inset  20px 0 50px rgba(0, 0, 0, 0.5); 
    
}
.card .imgBox{
    position: relative;
  /* border-radius: 10px; */
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.card .details p{
    font-size: 20px;
    letter-spacing: 1px;
}
.card:hover .imgBox{
    transform: rotateY(-120deg);
}
.card .imgBox ,img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .details{
    padding: 20px;
}
